.card:disabled{
    transform: rotate3d(0, 1, 0, 0deg);
    outline: none;
}

.card{
    transition: all 0.75s ease-in-out;
    transform: rotate3d(0, 1, 0, 180deg);
}

img {
    pointer-events: none;
}